<div class="tags alert alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	{{#isLengthOf duplicate_conflicts ">" 0}}
		<div class="mt15"><i class="fa fa-exclamation-circle text-primary"></i> We couldn't find an exact match for some of your terms. Please choose from below</div>
	{{/isLengthOf}}
	{{#isLengthOf duplicate_conflicts "==" 0}}
		{{#isLengthOf partial_conflicts ">" 0}}
			<div class="mt15 fw500"><i class="fa fa-exclamation-circle text-primary fs18"></i> We couldn't find an exact match for some of your terms. Please choose from below</div>
		{{/isLengthOf}}
	{{/isLengthOf}}
	<table id="list-confirm-tags" class="mt10">
		{{#each duplicate_conflicts}}
			<tr class="conflict-row">
				<td class="conflict-remove-row">
					<a class="btn-remove-row" href="javascript:void(0);" onclick="RemoveConflictRow(this)">×</a>
				</td>
				<td class="search-keyword">
					<i>{{keyword}} :</i>
				</td>
				<td>
					{{#each tags}}
						<button  tag-id="{{id}}" type="button" class="btn {{colorTag category.id}} tag">#{{category.name}}: {{name}}</button>
					{{/each}}
				</td>
			</tr>
		{{/each}}

		{{#each partial_conflicts}}
			<tr>
				<td class="conflict-remove-row">
					<a class="btn-remove-row" href="javascript:void(0);" onclick="RemoveConflictRow(this)">×</a>
				</td>
				<td class="search-keyword">
					<i>{{keyword}} :</i>
				</td>
				<td>
					{{#each tags}}
						<button  tag-id="{{id}}" type="button" class="btn {{colorTag category.id}} tag">#{{category.name}}: {{name}}</button>
					{{/each}}
				</td>
			</tr>
		{{/each}}

		{{#each unmatched_keywords}}
			<tr>
				<td class="conflict-remove-row">
					<a class="btn-remove-row" href="javascript:void(0);" onclick="RemoveConflictRow(this)">×</a>
				</td>
				<td class="search-keyword">
					<i>{{keyword}} :</i>
				</td>
				<td class="no-match-text">
					We couldn't find any match.
				</td>
			</tr>
		{{/each}}
	</table>
</div>
