{{#each categories}}
	<a class="lv-item" id="{{id}}" href="javascript:void(0)" onclick="SelectFilterCategory('{{name}}','{{id}}')">
		<div class="media">
			<div class="pull-left p-relative pt10">
				<i class="icon fa {{categoryIcon name}}"></i>
			</div>
			<div class="media-body">
				<div class="lv-title">{{titleCase name}}</div>
			</div>
		</div>
	</a>
{{/each}}
